@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';

:root,
.dark {
  --color-fd-primary: #39ff14;
  --color-fd-primary-foreground: #061004;
  --color-fd-background: #050705;
  --color-fd-card: #090d09;
  --color-fd-border: #273027;
}

html {
  color-scheme: dark;
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0 !important;
  --removed-body-scroll-bar-size: 0px !important;
}
